# lock
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# trash
**/.DS_Store
**/*.hbs

# dir
**/node_modules/**/*
**/public/**/*
**/dist/**/*
**/dist-ssr/**/*
**/build/**/*
**/storybook-static/**/*
**/coverage/**/*
**/bin/**/*
**/obj/**/*
**/out/**/*
**/.yarn/**/*
**/.pnpm-store/**/*
**/.next/**/*
**/.vercel/**/*
**/.swc/**/*
**/.turbo/**/*
